
ul {
    list-style: none;
    padding: 0;
}


.posts_container {
    display: block;
    columns: 2 200px;
    column-gap: 2rem;
    margin: 10px 30px 10px 10px;
}

@keyframes growContainer {
    from {
        width: 0%;
        height: 0%;
    }

    to {
        width: 100%;
        height: 100%;
    }
}


@media only screen and (max-width: 700px) {
    .posts_container {
        display: block;
        columns: 1 200px;
        column-gap: 2rem;
        margin: 10px 30px 10px 10px;
    }
}

@media only screen and (min-width: 1400px) {
    .posts_container {
        display: block;
        columns: 3 200px;
        column-gap: 2rem;
        margin: 10px 30px 10px 10px;
    }
}

.post_box {
    border: solid #34a2c3 6px;
    margin-bottom: 1rem;
    display: inline-block;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: .25rem;
    animation-name: growContainer;
    animation-duration: 1s;
}

.post_box video {
    width: 90%;
}

.post_box img {
    width: 90%;
}

.post_box a {
    text-decoration: none;
    color: #b41e75;
}

.post_box .title {
    width: 100%;
    font-size: 1rem;
}

.post_box .author {
    display: inline-block;
    width: 40%;
    text-align: left;
    margin-left: 5%;
    font-size: .8rem;
    color: #777aab;
}

.post_box .date_upvotes {
    display: inline-block;
    width: 50%;
    text-align: right;
    margin-right: 5%;
    font-size: .7rem;
    font-weight: 400;
    color: #8ebd79;
}