.App {
  text-align: center;
}

.search_header {
  background-color: white;
}

header {
  width: 50%;
  left: 25%;
  height: 150px;
  position: absolute;
  border: solid #363376 4px;
  position: relative;
}

#menubutton {
  border-style: none;
  background-color: transparent;
  font-family: inherit;
}

h1 {
  animation: reddit-color-pulse infinite 3s ease-in-out;
}

@keyframes reddit-color-pulse {
  0% {
    color: black;
  }

  50% {
    color: #b41e75;
  }

  100% {
    color: black;
  }
}

h1:hover {
  animation: second-color-pulse 1 3s ease;
}

@keyframes second-color-pulse {
  from {
    color: #55bcd8;
  }

  to {
    color: black;
  }
}
